{% extends "base.html" %}

{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/form_register.css' %}">
</head>
<div class="form-group3">
    <h1>Inscription</h1>
    <form method="post" class="user-register-form">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.errors %}
            <p class="error-message">{{ form.errors.as_text }}</p>
        {% endif %}
        <button type="submit" class="submit-button">S'inscrire</button>
    </form>
</div>
<p class="register">Vous avez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous</a></p>
</div>
{% endblock %}
